<ng-container [ngSwitch]="buttonType">
    <div class="m2b-button__container--{{buttonStyle ? buttonStyle : 'primary'}}">
        <button *ngSwitchCase="'fab'" (click)="buttonClick($event)" class="m2b-fab material-icons"
            [ngClass]="{disabled}" aria-label="Add"><span class="m2b-fab__icon">{{buttonMatIcon ?
                buttonMatIcon : 'add'}}</span></button>

        <button *ngSwitchCase="'fab-plain'" (click)="buttonClick($event)" class="m2b-fab material-icons m2b-fab--plain"
            [ngClass]="{disabled}" aria-label="Add"><span class="m2b-fab__icon">{{buttonMatIcon ?
                buttonMatIcon : 'add'}}</span></button>

        <button *ngSwitchCase="'normal-plain'" (click)="buttonClick($event)" type="button" [ngClass]="{disabled}"
            class="m2b-button m2b-button--plain">{{buttonLabel ? buttonLabel : 'Press'}}</button>

        <button *ngSwitchCase="'normal-raised'" (click)="buttonClick($event)" type="button" [ngClass]="{disabled}"
            class="m2b-button m2b-button--raised">{{buttonLabel ? buttonLabel : 'Press'}}</button>

        <button *ngSwitchDefault [ngClass]="{disabled}" (click)="buttonClick($event)" class="m2b-fab material-icons"
            aria-label="Add"><span class="m2b-fab__icon">{{buttonMatIcon ?
                buttonMatIcon : 'add'}}</span></button>
    </div>
</ng-container>


<!-- <button class="m2b-fab material-icons m2b-fab--plain"
        aria-label="Add"><span class="m2b-fab__icon">add</span></button> -->