@import '../../../../../styles/color-palette.scss';

:host {

    .m2b-button, .m2b-fab {
        border: none;
        display: flex;
        padding: 0.5rem;
        cursor: pointer;

        &.disabled {
            opacity: 0.7;
            cursor: not-allowed;
        }
    };

    .m2b-button {
        height: 35px;
        margin-inline: 0.5rem;
    }

    .m2b-fab {
        border-radius: 100%;
    }

    .m2b-button__container--primary {
        .m2b-button, .m2b-fab {
            background-color: map-get($color-palette, primary);
            color: map-get($color-palette, text-on-primary);
        }

        .m2b-button--plain, .m2b-fab--plain {
            background-color: transparent;
            color: map-get($color-palette, primary);
        }
    
    }

    .m2b-button__container--secondary {
        .m2b-button, .m2b-fab {
            background-color: map-get($color-palette, secondary);
            color: map-get($color-palette, text-on-secondary);
        }

        .m2b-button--plain, .m2b-fab--plain {
            background-color: transparent;
            color: map-get($color-palette, secondary);
        }
    }
}