$color-palette: (
    primary: #4e342e,
    primary-light: #7b5e57,
    primary-dark:#260e04,
    secondary: #f57c00,
    secondary-light: #ffad42,
    secondary-dark: #bb4d00,
    text-on-primary: #ffffff,
    text-on-secondary: #000000
)