
<m2b-entertainment-page [pageTitle]="'Books'" (fabButtonClicked)="openDialog($event)">
    <ng-container *ngIf="!isLoading; else loadingBlock">
        <m2b-generic-table-list [tableListConfig]="tableConfig"></m2b-generic-table-list>
    </ng-container>
    
    <!-- <div class="example-form-container">
        <m2b-generic-form 
            [title]="'Insert Book'"
            [mode]="formMode"
            [formConfig]="config"
            (onActionButtonEmitter)="formActionButtonClicked($event)"
        ></m2b-generic-form>
    </div> -->
</m2b-entertainment-page>

<ng-template #loadingBlock>Loading...</ng-template>
