<h1 mat-dialog-title>{{title}}</h1>

<div mat-dialog-content>
  <m2b-generic-form-content [genericFormControlGroup]="genericformGroup" [genericFormConfig]="formConfig" (genericFormControlGroupChange)="updateFormGroup($event)">
  </m2b-generic-form-content>
</div> <!-- mat-dialog-content -->

<div mat-dialog-actions>
  <m2b-generic-form-actions [mode]="mode" (buttonClickedEmitter)="onActionButtonClicked($event)" [disableCondition]="genericformGroup.invalid"></m2b-generic-form-actions>
</div> <!-- mat-dialog-actions -->