<div class="m2b-entertainment-page__container">
    <div class="m2b-entertainment-page__title__section">
        <h2>{{pageTitle}}</h2>
    </div>
    <div class="m2b-entertainment-page__content__container">
        <ng-content #entertainmentContent></ng-content>
    </div>
</div>
<div class="m2b-entertainment-page__add-fab-button__container">
    <m2b-button
        [buttonType]="'fab'"
        [buttonStyle]="'primary'"
        [buttonMatIcon]="'add'"
        (onButtonClicked)="onButtonClickedEvent($event)"
    ></m2b-button>
</div>