<div class="m2b-file-uploader__container">
    <div class="m2b-file-uploader__input__container">
        <!-- <mat-form-field appearance="fill">
            <input matInput type="text" (click)="fileUpload.click()"/>
        </mat-form-field> -->

        <input hidden
            type="file" [formControl]="formControl" #fileUpload id="fileUpload" name="fileUpload" accept="image/*" 
            (change)="onFileSelected($event)"/>
        <m2b-button
            [buttonType]="'normal-raised'"
            [buttonStyle]="'primary'"
            [buttonLabel]="'Choose'"
            [buttonMatIcon]="'file_upload'"
            (onButtonClicked)="fileUpload.click()"
            ></m2b-button>
        <img *ngIf="imageSelected" src="{{imageSelected}}" alt="">
    </div>
</div>