<div class="login-page-container">
    <form [formGroup]="loginFormGroup">
        <h4 class="login-form__header">Login</h4>
        <div class="login-form__username-container">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [formControl]="getControl('username')">
            </mat-form-field>
            <small class="error-text" *ngIf="checkFormError('username', 'required')">This field is required</small>
        </div>
        <div class="login-form__password-container">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [formControl]="getControl('password')">
            </mat-form-field>
            <small class="error-text" *ngIf="checkFormError('password', 'required')">This field is required</small>
        </div>

        <!-- <div *ngFor="let accountControlGroup of getAccountArrayControl().controls">
            <mat-form-field appearance="fill">
                <mat-label>Account ID</mat-label>
                <input matInput [formControl]="accountControlGroup.controls['accountId']">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [formControl]="accountControlGroup.controls['username']">
            </mat-form-field>
        </div> -->

        <div class="login-form__footer-container">
            <!-- <button mat-raised-button [disabled]="loginFormGroup.invalid" (click)="login()">Login</button> -->
            <m2b-button [buttonStyle]="'secondary'" [buttonType]="'normal-raised'" [buttonLabel]="'Login'" [disabled]="loginFormGroup.invalid" (onButtonClicked)="login()"></m2b-button>
            <m2b-button [buttonStyle]="'primary'" [buttonType]="'normal-raised'" [buttonMatIcon]="'local_fire_department'" [buttonLabel]="'Google'" (onButtonClicked)="googleLogin()"></m2b-button>
        </div>
    </form>
</div>