<div class="login-page-container">
    <form [formGroup]="loginFormGroup">
        <h4 class="login-form-header">Login</h4>
        <div class="login-username-container">
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [formControl]="getControl('username')">
            </mat-form-field>
        </div>
        <div class="login-password-container">
            <mat-form-field appearance="fill">
                <mat-label>Password</mat-label>
                <input matInput [formControl]="getControl('password')">
            </mat-form-field>
        </div>

        <div *ngFor="let accountControlGroup of getAccountArrayControl().controls">
            <mat-form-field appearance="fill">
                <mat-label>Account ID</mat-label>
                <input matInput [formControl]="accountControlGroup.controls['accountId']">
            </mat-form-field>
            <mat-form-field appearance="fill">
                <mat-label>Username</mat-label>
                <input matInput [formControl]="accountControlGroup.controls['username']">
            </mat-form-field>
        </div>

        <div class="login-footer-container">
            <button mat-raised-button (click)="login()">Login</button>
        </div>
    </form>
</div>