:host {
    .login-page-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .login-form-header {
        display: flex;
        justify-content: center;
    }

    .login-password-container {
        display: flex;

        mat-form-field {
            color: red !important;
        }

    }
}