:host {
    .login-page-container {
        display: flex;
        flex-direction: column;
        padding: 1rem;
    }

    .login-form-header {
        display: flex;
        justify-content: center;
    }

    .login-username-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-password-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .login-footer-container {
        display: flex;
        justify-content: center;
    }

    .error-text {
        color: red;
    }
}